<%- include('includes/head'); %>
<%- include('includes/navbar'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-2">

      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Abaixo estão seus contaos:</p>

      <div class="row">
        <div class="col my-2">
          <div class="alert alert-danger" hidden>ERROR!!!</div>
        </div>
      </div>

      <%- include('includes/messages')  %>
      <% if(contatos.length > 0) { %>
    
      <div class="responsive-table">
        <table class="table my-2">
          <% contatos.forEach(contatos => {  %>
          <tr>
            <td><%= contatos.nome %></td>
            <td><%= contatos.sobrenome %></td>
            <td><%= contatos.email %></td>
            <td><%= contatos.telefone %></td>
            <td><a href="/contato/<%= contatos._id %>">Editar</a></td>
            <td><a class="text-danger" href="/contato/delete/<%= contatos._id %>">Excluir</a></td>
          </tr>
          <% }) %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem contatos na sua agenda.</p>
      <% } %>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
